In [142]:
import pandas as pd
import numpy as np

In [143]:
exp_num = 1
unique_huge = pd.read_csv("../hugecookies/hugecookies-{}.csv".format(exp_num))

In [144]:
unique_huge.shape

(280812, 6)

In [145]:
unique_huge.dropna(inplace=True)
unique_huge.shape

(270433, 6)

In [146]:
unique_huge = unique_huge[unique_huge['value'].str.len() >= 8]
unique_huge.shape

(203074, 6)

In [147]:
unique_huge.drop(unique_huge[unique_huge.name.str.contains('Test|test|lang|SameSite|Samesite|sameSite|samesite|expires|Path|path|domain|Expires|max-age')].index, inplace=True)
unique_huge.drop(unique_huge[unique_huge.value.isin(['1','0','2','true','yes','YES','ok','nan','none','None','NO_DATA','null','setstatuscode~~1'])].index, inplace=True)
unique_huge.shape

(198045, 6)

In [148]:
# unique_huge.value.unique().tolist()

In [149]:
unique_huge['namevalue'] = list(map(lambda a, b: (a, b), unique_huge["name"].astype(str), unique_huge["value"].astype(str)))

In [150]:
byoccur = unique_huge.groupby(["namevalue", "context_id"], as_index = False)['time_stamp'].count()
byoccur
#temp2.to_csv("unique_namevalue-3.csv", index=False)

,namevalue,context_id,time_stamp
0,"(107, 20200501)",1,5
1,"(108, 20200501)",1,4
2,"(110, 20200501)",1,3
3,"(112, 20200501)",1,2
4,"(113, 20200501)",1,9
...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,3
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,7
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,16
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,6
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,5

In [152]:
# clean host domain 
temp = list(map(lambda x:".".join(x.split(".")[:2]).replace('https://','').replace('www',''), unique_huge['host'].tolist()))                    
len(temp)
unique_huge['host_clean'] = temp

In [153]:
# byhost = pd.DataFrame(unique_huge.groupby(["namevalue", "context_id"], as_index = False)['host_clean'].apply(list))
byhost = pd.DataFrame(unique_huge.groupby(["namevalue", "context_id"], as_index = False)['host_clean'].apply(set).reset_index(name='byhost'))
byhost

,namevalue,context_id,byhost
0,"(107, 20200501)",1,"{.deepintent, match.deepintent}"
1,"(108, 20200501)",1,"{.deepintent, match.deepintent}"
2,"(110, 20200501)",1,"{.deepintent, match.deepintent}"
3,"(112, 20200501)",1,"{.deepintent, match.deepintent}"
4,"(113, 20200501)",1,"{.deepintent, match.deepintent}"
...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,"{ads.yieldmo, .yieldmo}"
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,"{b1sync.zemanta, .zemanta}"
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,"{b1sync.zemanta, .zemanta}"
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,"{b1sync.zemanta, .zemanta}"
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,"{.rezync, live.rezync}"

In [154]:
highlight = pd.merge(byoccur, byhost, on=['namevalue',  'context_id'])
highlight

,namevalue,context_id,time_stamp,byhost
0,"(107, 20200501)",1,5,"{.deepintent, match.deepintent}"
1,"(108, 20200501)",1,4,"{.deepintent, match.deepintent}"
2,"(110, 20200501)",1,3,"{.deepintent, match.deepintent}"
3,"(112, 20200501)",1,2,"{.deepintent, match.deepintent}"
4,"(113, 20200501)",1,9,"{.deepintent, match.deepintent}"
...,...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,3,"{ads.yieldmo, .yieldmo}"
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,7,"{b1sync.zemanta, .zemanta}"
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,16,"{b1sync.zemanta, .zemanta}"
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,6,"{b1sync.zemanta, .zemanta}"
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,5,"{.rezync, live.rezync}"

In [158]:
temp = highlight
# select only across contexts
import collections
ltd = []
Counter = collections.Counter(temp.namevalue.tolist())

In [159]:
for key, value in Counter.items():
    if value == 1:
        ltd.append(key)

In [160]:
indtd = temp[temp['namevalue'].isin(ltd)].index
temp.drop(indtd, inplace=True)

In [161]:
temp.namevalue.unique().tolist()

[('131', '20200501'),
 ('A3',
  'd=AQABBBoqrF4CEPdY3jmf7y0lqIos6X6BvLMFEgEBAQF7rV62XgAAAAAA_SMAAAcIGiqsXn6BvLM&S=AQAAAhIzhRxkiPRYG6D_rjODnUk'),
 ('A3',
  'd=AQABBPcsrF4CENuOO3pHfRbNXEYpdY8MhvEFEgEBAQF-rV62XgAAAAAA_SMAAAcI9yysXo8MhvE&S=AQAAAkj_WLuyapbWIKkqElaPtrI'),
 ('APID', 'UP5375626e-8bb3-11ea-8a1b-02b46a2b338d'),
 ('APIDTS', '1588341417'),
 ('ASP.NET_SessionId', 'qmhzkv32vyqsseubsfq5xrkz'),
 ('ASP.NET_SessionId', 'v2r01qcxkympaqbu1fuzmttn'),
 ('ATN', '1.1588341315.5646170740280007981.AYInk7_HjCO9ZsBdLIU'),
 ('B', 'b7f41fpfaoagq&b=3&s=06'),
 ('B', 'f31gchtfaob7n&b=3&s=o0'),
 ('CMDD', 'AAKdbQI*'),
 ('CMID', 'XqwqCtHM43gAAFXPqmUAAABE'),
 ('CMRUM3',
  '835eac2a6d276018072662242538953645&275eac2a6d2760f22d0c1f-900e-4c1c-ba61-841bc375953c&285eac2a712760b323da65-057d-4280-a39b-97e5bb9d0e03&b05eac2a6d2760di_afb02741a6d44a27b16a6&585eac2a6d2760XqwqHQAAAD3gWgFU&2e5eac2a6d27607526883567168608467&2d5eac2a442760CAESEAHdSX8y7lfTcWdMTtzzG3M&495eac2a6905a00&c35eac2a6d2760av-c5874241-0311-40e0-bbfe-9ca2ee6fd217'),
 ('CMST', 'XqwqCl6sKnEC'),
 ('CMSUM', '2e5eac2a6d27607526883567168608467'),
 ('EE', '"bb6852e62883251d2992dbe138850296"'),
 ('EE', '\\bb6852e62883251d2992dbe138850296\\'),
 ('GLOBALID',
  '2uKlc8-sIBd987FnJwDBYuT9fAwDX1X4c3M45XSyIbuOOb1sCIy40vzN5R5RZPZTImr2N87rRZQC4TM1'),
 ('GUC', 'AQEBAQFerX5etkIfrgSu'),
 ('GUC', 'AQEBAQFerXtetkIeZQSq'),
 ('IDE', 'AHWqTUlSfPQmhrDdy6sME7fOAKONvXsefnx5oVvdvDng54IHFdQxDNHj5TVIvf7E'),
 ('IDE', 'AHWqTUm2w4rJv7-WWxNw9As9t9PsB6tmsP0IuJ9NZ169SNyj2VPHSxDe9klEysJl'),
 ('INGRESSCOOKIE', '8d10a8b348c68dc9'),
 ('JSESSIONID', '903d3253e2a76b4f'),
 ('JSESSIONID', 'bfa681626cbc5e23'),
 ('KADUSERCOOKIE', '3A2FB39F-CFC8-4617-A956-3C703F4509B7'),
 ('KRTBCOOKIE_80',
  '16514-CAESEG-FTBaj4COz4KKsJl4cvwQ&KRTB&22987-CAESEG-FTBaj4COz4KKsJl4cvwQ&KRTB&22995-CAESEG-FTBaj4COz4KKsJl4cvwQ&KRTB&23025-CAESEG-FTBaj4COz4KKsJl4cvwQ'),
 ('MUID', '24348E915159688011AB802C50A46927'),
 ('PugT', '1588341415'),
 ('TDCPM',
  'CAESFgoHcnViaWNvbhILCLL7t_um-LY4EAUSFAoFb3BlbngSCwiy5eWlp_i2OBAFEhYKB2QwdHJvMWoSCwjIpu3lp_i2OBAFEhYKB2JsdWVrYWkSCwjYmYvJqPi2OBAFEhQKBXRhcGFkEgsI0ITU26j4tjgQBRIVCgZjYXNhbGUSCwickcfprPi2OBAFGAEgAigCMgsI0PzWiL_4tjgQBTgBWgV0YXBhZGAC'),
 ('TDID', 'f22d0c1f-900e-4c1c-ba61-841bc375953c'),
 ('TapAd_DID', '58dfa4c1-8bb3-11ea-bf7f-828326ab2b81'),
 ('TapAd_TS', '1588341299468'),
 ('U', '98d7880ab4f009b2b99d3cf2fd8465b6'),
 ('U', 'f3e06fc62eee813444aa9bd44d25b62b'),
 ('UID', '17018427a45a1421a5555261588341258'),
 ('UIDR', '1588341258'),
 ('V', 'VnuyV3ZbfKyb'),
 ('_cc_aud', '\\ABR4nGNgYGCIW6OlwQAHABGiAV0%3D\\'),
 ('_cc_cc',
  '\\ACZ4nGNQSDJKNrEwMjQxMDBJNTA3sjQ3TkkyS0lOTko1MDAwNkpkAIK4NVoaDAgAAEEmCe8%3D\\'),
 ('_cc_id', 'b2c48214004e072973db6dccbe00032a'),
 ('_dm_uid',
  'eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJzaWQiOjEwMDAwLCJ1c3IiOiJxZ1l3c2dZYk1XSktSRTVLWkV4TVdERlFhek01VkU5aE0wRnpNbk16UTNOT3VnWURDS3BPdWdZRENLNU91Z1lEQ0xCTyIsImlhdCI6MTU4ODM0MTI2MX0.LVCI8QdwH8yAOqbLMyUif8De8wLCgJg5BuZ79bvTnIVrWDLD5hVuQTJFE41u_jG1zusYuZA5qjP8IXhkmWU0LQ'),
 ('_kuid_', 'NYJjK9iL'),
 ('_rxuuid',
  '%7B%22rx_uuid%22%3A%22RX-9bf7f180-bfe9-47dd-91bf-4549229bb17e-005%22%2C%22nxtrdr%22%3Afalse%7D'),
 ('_rxuuid',
  '%7B%22rx_uuid%22%3A%22RX-9bf7f180-bfe9-47dd-91bf-4549229bb17e-005%22%7D'),
 ('ab', '0001%3AFn0nHs5NwVNdXeGXGhCWjDZOVCojwaS7'),
 ('ad-id', 'A45uM9jLqkQuuYy7VTmOFJk'),
 ('adtheorent-legacy[cuid]', 'cuid_85c1d121-8bb3-11ea-8569-12c731858e46'),
 ('adtheorent[cuid]', 'cuid_85c1d121-8bb3-11ea-8569-12c731858e46'),
 ('anj', "dTM7k!M4/8F7/.XF']wIg2C$Somp3X!tL<Ae3oYo47YS#XstGtXt#r7!?UY*(0+a4"),
 ('audience', '98a4c4c0-8bb3-11ea-bca3-1d9f7f392201'),
 ('audit',
  '1|mFVHqHkj5bH2tA61swo12kYBGrxLXkCS7viqpyHuzNk9Fq0YJqa2exI+GIMW9IqPCNzhw6vix23hlI2uKWkDtsxuhZpbWKLtHrqARQxmcjZNzmBpqKG5ew=='),
 ('bito', 'AABFmU69WFQAABDDe4aIGQ'),
 ('bku', 'ikG99Y/3gafB6I9L'),
 ('browser_data',
  'XGRgm193OTZlQzdnSHpZZUNpbUc2NmFIcDY2TDdudlBzcXhSMXN6QUxsY2hHSjFJVHIyY01OZGslMkIlMkZlTk84U3h3em50b29wUTU4YTZOR1Q4U2dGU1B1eXBvYWclM0QlM0Q'),
 ('c', '1588341261'),
 ('c', '1588341356'),
 ('cu', '50c0f085-8bb3-11ea-8dcb-6dfb4eaae873|1588341285845'),
 ('d', 'EHUBDwGqIIEOmvUA'),
 ('data-a', '7526883567168608467~~1'),
 ('data-adt', '6821881830051811416~~1'),
 ('data-amb', '2363256606281464141~~1'),
 ('data-b', '771a64b5-f666-4ca4-9828-32eb1545984b~~1'),
 ('data-bs', 'de1edf2d-73a4-47bc-b136-4ae7063511b2~~1'),
 ('data-bt', '771a64b5-f666-4ca4-9828-32eb1545984b~~1'),
 ('data-co', 'AAAGUZHkl8a3YgMwZAW3AAAAAAA~~1'),
 ('data-di', 'di_afb02741a6d44a27b16a6~~1'),
 ('data-dmx',
  'eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJzaWQiOjEwMDA1LCJ1c3IiOiJxZ1llc2dZYk1XSktSRTVLWkV4TVdERlFhek01VkU5aE0wRnpNbk16UTNOTyJ9.mj8EUKlluohhYenv_uK4uxUlVjKE2fWWiXr4uCYCjBgGueZcE7iKYU_d9bLchzcGSt3PXe2U2I7dDLUPAuDCNQ~~1'),
 ('data-emx', '7526883567168608467brt43531588341280935352ae~~1'),
 ('data-mf', '40b7cac0-8bde-436f-a3ef-4f701db35d64~~1'),
 ('data-mm', '11c35eac-2a21-4b00-b00b-f8c935a11a0c~~1'),
 ('data-p', 'VnuyV3ZbfKyb~~1'),
 ('data-r', 'K9O9DHV1-I-7BR2~~1'),
 ('data-r1', 'RX-9bf7f180-bfe9-47dd-91bf-4549229bb17e-005~~1'),
 ('data-rbh', 'k2HBwFJ2GdEEOCvf0Y3I~~1'),
 ('data-rk', '979321814925778824~~1'),
 ('data-sh', '4a8d1984-473d-491d-b2f7-7cb61836798d~~1'),
 ('data-so', '0d9d5811-ae4f-4777-98a8-6010c5969897~~1'),
 ('data-som', '09952cf7ddd1415e952cf7ddd1515e5f~~1'),
 ('data-sov', 'c7525a994f4a1746e9fc26be~~1'),
 ('data-xu', '4FlCNvXw1Juw7K5~~1'),
 ('data-ze', 'TM6LMxYK3kC19y2AVTom~~1'),
 ('demdex', '08980642074004230442948801797311474884'),
 ('demdex', '12817733358675739114137966723933473093'),
 ('dextp', '285689-1-1588342023340'),
 ('dpm', '08980642074004230442948801797311474884'),
 ('dpm', '12817733358675739114137966723933473093'),
 ('everest_g_v2', 'g_surferid~XqwqHQAAAD3gWgFU'),
 ('everest_g_v2', 'g_surferid~Xqws_AAAAJslXQFU'),
 ('extendtv_user_id', 'eae71626-6e0a-442e-8bbc-61d813a51f55'),
 ('fr', '0isX1gId8kcbJvOau..BerCoo...1.0.BerCoo.'),
 ('fr', '0weVUHgKfSNYRMZ4T..BerC0D...1.0.BerC0D.'),
 ('i', '186eb046-34b7-0bf9-3811-081c435b982a|1588341257'),
 ('ibkukinet', '314365897=-8586132655939712795'),
 ('ibkukiuno',
  's=8fd5417d-abb8-457f-bdac-6fe642601240&h=&v=0&l=-8586132655939712795&op=&hl=0&vlu=0&tcs=1&dcc=-8586132655939712795'),
 ('icu', 'ChgI3-c3EAoYAiACKAIwmNSw9QU4AkACSAIQmNSw9QUYAQ..'),
 ('id', '10607173391445011652'),
 ('khaos', 'K9O9DHV1-I-7BR2'),
 ('mc', '5eac2a27-197ba-42a6e-20de8'),
 ('mdata', '1|10607173391445011652|1588341336668'),
 ('mt_mop', '4:1588341360'),
 ('mxpim',
  'R1B331_C999EAD5_44BC0608.1.5EAC2A71000000000000000000000000000000000000000000000000000000000000000000000000000000005EAC2A26'),
 ('ov', 'fec47ab2acbc065de8253d4c89d1d649'),
 ('pd', 'v2|1588341279|kegahEkWgyiK'),
 ('personalization_id', '\\v1_gLzJw0SxSjbXnljPv5aM9Q==\\'),
 ('pux',
  '1185%3D90565%261197%3D90565%261512%3D90565%262132%3D90565%262231%3D90565%262238%3D90565%262249%3D90565%262307%3D90565%262313%3D90565%262528%3D90565%262596%3D90565%262650%3D90565%262676%3D90565%262861%3D90565%262974%3D90565%263664%3D90565%263668%3D90565%263778%3D90565%263822%3D90565%263992%3D90565%264112%3D90565%265120%3D90565%265446%3D90565%265474%3D90565%26goog%3D90565%26idl%3D90565%26brx%3D90565%26w55c%3D90565%26a9us%3D90565%26turn%3D90565%26bk%3D90565%261197ext%3D90565%26'),
 ('pxrc', 'CKfUsPUFEgUI204QABIGCL7qARAs'),
 ('rlas3', 'pR5BKWD9u/2NqMmfZwVkfgq2Qp7+HbGsrRFrDxkGyuM='),
 ('rsid',
  '1|DNi5OVoMr/vVSy6g0MQzNRXnpsxWJKbdvHdREsWffk0b8Nz5OWnkL8WfY9WPiuPJR3OqtTnGEmGoFyjKXUn7RjT/rmwFilIR+x8qfNyRRkN5zGTGXOMAbP+vG/+NWVqRHrqb+gxpPzD5ypA2Cex7l/Usaek='),
 ('ses10', '254660^1'),
 ('sessionid', 'h-fd2e5e3f9503e51b2d5eab0dd9da285a_t-1588341256'),
 ('si', 'Q6416277581656778414P'),
 ('ssi', 'e625993a-c5ac-4c9b-abc5-4b35049967f3#1588341261658'),
 ('stx_user_id', '4a8d1984-473d-491d-b2f7-7cb61836798d'),
 ('suid', '0A826C8349FE44B59385C860B5A92A90'),
 ('suid_legacy', '0A826C8349FE44B59385C860B5A92A90'),
 ('t_gid', 'e9d0bbdc-bd0c-45f3-b695-a9658c2e2e27-tuct5a5afe4'),
 ('tluid', '7265616135096699616'),
 ('tuuid', '7191d8f3-a6dd-4cf7-9142-a725291c92c7'),
 ('tuuid', 'de1edf2d-73a4-47bc-b136-4ae7063511b2'),
 ('tuuid_lu', '1588341261'),
 ('tuuid_lu', '1588341357'),
 ('u',
  'C|0EAgmPuapJj7mqQAAAAAAAgAsAQfohgIAAC0BB-gYAgABAAcAAAAAAW4pUv__HgAAAAAAD4I6AAAAABApTwkAAAAABZFUGgAAAAAbxjdSAA'),
 ('ud',
  '"eJxrXxzq6XKLQSEpyczC1CjVzMjCwtjI1DDFyNLSKCUp1dDYwsLUwMjSbHFZatGCpaXFqSlJh5ZU5JTkNK0uiw91jHdz9PX0iVzullmUmpZfsQIsFuYatMjcaEl%252BUWb6otDgxUUpaQyLSopPBe944QwAYusp%252FQ%253D%253D"'),
 ('ud',
  '\\eJxrXxzq6XKLQSEpyczC1CjVzMjCwtjI1DDFyNLSKCUp1dDYwsLUwMjSbHFZatGCpaXFqSlJh5ZU5JTkNK0uiw91jHdz9PX0iVzullmUmpZfsQIsFuYatMjcaEl%252BUWb6otDgxUUpaQyLSopPBe944QwAYusp%252FQ%253D%253D\\'),
 ('uid', '2723826051447814477'),
 ('uid', '4920355138092551235'),
 ('univ_id',
  '537072971|f22d0c1f-900e-4c1c-ba61-841bc375953c|1588341282027858'),
 ('uuid', '11c35eac-2a21-4b00-b00b-f8c935a11a0c'),
 ('uuid2', '7526883567168608467'),
 ('vis10', '254660^1'),
 ('vis15', '254660^2'),
 ('vis2', '254660^2'),
 ('visitor-id', '2313428786589727000V10'),
 ('wfivefivec', '4FlCNvXw1Juw7K5'),
 ('zuid', 'TM6LMxYK3kC19y2AVTom')]

In [162]:
temp.to_csv("../overlap-cookies/unique_namevalue-{}.csv".format(exp_num), index=False)